html {
  font-family: Avenir Light, monospace;
  font-size: 20px;
  text-align: center;
}


/* SCROLL BAR */
::-webkit-scrollbar {
  width: 15px;
  display: block;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  width: inherit;
  height: 25px;
  background: #c3c3c3;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}




/* BODY */
body {
  position: absolute;
  margin: 0;
  padding: 0;
}

body > .content {
    margin: 50px auto auto auto;
}


/* HEADER */
body p.header {
  width: fit-content;
  height: fit-content;
  font-weight: bold;
  text-decoration: underline;
  margin: auto;
}


/* LINKS */
body .links {
  width: inherit;
  height: fit-content;
  margin: auto;
}

.width-longer body .links {
  width: 50%;
} 

.height-longer body .links {
  width: inherit;
}


/* LINKS - PARAGRAPH */
body .links p {
  width: 80%;
  margin: 10px auto 10px auto;
  font-size: 16px;
  line-height: 1.4;
  white-space: nowrap;
  display: block;
}


/* LINKS - LINK */
.links p a.link {
  width: min-content;
  height: fit-content;
  font-weight: bold;
  color: #268bd2;
  text-overflow: ellipsis;
  border-bottom: 1px solid #dedede;
  overflow: hidden;
  display: block;
  margin: auto;
}

.computer.width-longer p .link.instagram-interview {
  width: min-content;
}

.links p .link.instagram-interview,
.links p .link.twitter-spotlight,
.links p .link.yc-app {
  width: auto;
}


/* IMAGES */
body img {
  display: block;
  position: relative;
  margin: auto;
}

.width-longer body img {
  width: auto;
  height: 100%;
}

.height-longer body img {
  width: 100%;
  height: auto;
}
